/* CSS Document */
:root{
    --primary: #110C0CFF;
    --light: #FFFFFF;
    --grey1: #EEEEEE;
    --grey2: #F0F1F1;
    --orange: #D6731D;
    --lblue1: #559EE0;
    --lblue2: #B4C5E5;
}

*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

.header .navbar {
    background-color: rgba(255,255,255,0.5) !important;
}

body{
    padding-top: 70px;
}

.formatDiv{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgBlock{
    height: 150px;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
}

.divAnuncio{
    background-color: var(--light);
    border: thin solid var(--lblue1);
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--lblue2);
    float: left;
    margin: 8px;
    padding-top: 5px;
    text-align: center;
    width: 160px;
}

.divper {
    background-color: var(--light);
    border: thin solid var(--lblue1);
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--lblue2);
    float: center;
    margin: 8px;
    padding-top: 5px;
    text-align: center;
    width: auto;
}

.entidad{
text-align: center;
}
.m-3 {
    margin: 1rem!important;
}
.img-mep{
    width: 200px;
    height: 100px;
    margin-left: auto; 
    margin-right: auto;    
}

.imgris {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
img {

    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;
    border-style: none;
}

.img-tam{
    width: 350px;
    height: 250px;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}
.h5{
    text-align: center;
}
.color-f{
 background-color: #B4C5E5;
}

.color-f1{
    background-color: #c4e5b4;
}
